
.tags {
  background-color: var(--color-bg-primary);
  box-shadow: var(--icon-primary-shadow-hover);
  border-radius: 10px;
}


.tagMenu {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.itemLink {
  border-radius: 10px;
  box-shadow: var(--icon-primary-shadow);
  padding: 5px 10px;
}

.tags {
  margin-bottom: 10px;
}

@media only screen and (max-width: 400px) {
  .previewBtn {
    font-size: 17px !important;
    color: var(--text-color);
  }
}
