.header {
    background: var(--color-bg-primary);
    box-shadow: var(--btn-primary-shadow);
    position: sticky;
    top: 0;
    z-index: 1;
}

.navlinkA {
    text-decoration: none;
    /* box-shadow: var(--icon-primary-shadow); */
    margin-bottom: 15px;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 15px;
    color: var(--text-color);
}

.offcanvas.offcanvas-end.show a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 15px;
    background-color: var(--color-bg-primary);
}

.offcanvas.offcanvas-end.show h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 15px;
    background-color: var(--color-bg-primary);
}

.navlinkA:hover {
    /* box-shadow: var(--icon-primary-shadow-hover); */
    color: deepskyblue;
}

.navlinkA.active {
    /* box-shadow: var(--btn-primary-shadow-hover); */
    /* border-radius: 10px; */
    color: deepskyblue;
}

.themechangeBtn {
    height: 30px;
    width: 30px;
    box-shadow: var(--icon-primary-shadow-hover);
    border-radius: 50%;
    font-size: 17px;
}

.navToggle {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.navToggle img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.navbar-toggler {
    margin-left: auto;
    background-color: var(--togolarBtn) !important;
}