.header {
    background: var(  --color-bg-primary);
    box-shadow:  var(--header-shadow)
}

.header a {
    text-decoration: none;
    margin: 8px;
}

.themeChangeBtn {
    border: none;
    display: flex;
    flex-direction: row;
    background-color: var(--color-bg-primary);
}

.theme {
    font-size: 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: var(--shadow-primary);
    background: var(--shadow-bg-primary);
}


.theme2 {
    font-size: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: var(--shadow-primary);
    background: var(--shadow-bg-primary);
}
.navToggle{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}
.navToggle img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}