.tagMenu{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.itemLink{
    /* border: 1px solid rgb(75, 74, 74); */
    border-radius: 10px;
    box-shadow: var(  --icon-primary-shadow);
    padding: 5px 10px;
}
.likebtn{
    font-size: 20px;
}
.tags{
    margin-bottom: 10px;
}

@media only screen and (max-width: 400px) {
    .likebtn{
        font-size: 17px;
    }
    .previewBtn{
        font-size: 17px !important;
        color: var(--text-color);
    }
  }