.mainCard  * {
	transition: 0.5s;
}

.mainCard{
position: relative;
padding-top: 30px;
padding-bottom: 50px;
overflow: hidden;
}
.mainCard:hover img{
	transform: translateY(-20px);
}
.mainCard:hover .cardBody{
	transform: translateY(-20px);
}

.mainCard .btnGroup{
	position: absolute;
	top: 100px;
	}
.mainCard:hover .btnGroup{
	top: 0;
	}