
.adminNavItem a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    color: var(--text-primary);
}
.adminNavItem a.active{
box-shadow: var(--icon-primary-shadow);
color: rgb(92, 153, 177);
}

.adminNavItem a:hover{
    box-shadow:  var(--icon-primary-shadow);
}