.resumeHeader{
    display: flex !important;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    padding: 20px 0;
}
.resumeHeaderName{
    display: flex !important;
    align-items: center;
    justify-content: space-around;
}
.resumeBtn{

}
.resumeBtn:hover{
    border-radius: 10px;
    background: var(--shadow-bg-primary);
    box-shadow:  var(--shadow-primary);
}

.resumeBtn:active{
    background-color: aquamarine;
}
.resumeHeader a{
    background: var(  --color-bg-primary);
    padding: 30px 0px;
    box-shadow:  var(--header-shadow);
    display: flex !important;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
}
.resumeHeader a.active{
background-color: aquamarine !important;
}

.resumeHeader a:hover{
    border-radius: 10px;
    background: var(--shadow-bg-primary);
    box-shadow:  var(--shadow-primary);
}
.resumeHeader a.active:hover{
    border-radius: 10px;
    background: aquamarine;
    box-shadow:  var(--shadow-primary);
}