.home{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.homeHeading{
    font-size: 50px;
    font-weight: bold !important;
    color: var(--color-heading-bold);
    margin-bottom: 30px;
}
.homeHeadingSpan{
    color: var(--color-primary);
}
.home p{
    margin-bottom: 0;
}
.home a{
    text-decoration: none;
}

.btnWidth{
    width: 30%;
}
.description{
    font-size: 20px !important;
}

@media only screen and (max-width: 600px) {
    .homeHeading{
        font-size: 25px;
        font-weight: bold !important;
        color: var(--color-heading-bold);
        margin-bottom: 30px;
    }
    .btnWidth{
        width: 100%;
    }
    .description{
        font-size: 16px !important;
    }
    .welcome{
        font-size: 12px;
    }
  }