.modalMain{
    position: relative;
    transition: 0.5s ease-in-out;
    height: calc(100vh - 200px);
    overflow-y: scroll;
}

.crossBtn{
    position: absolute;
    font-size: 25px;
    top: 5px;
    right: 10px;
}

.project{
    min-height: 415px !important;
}