.header {
  background: var(--color-bg-primary);
  border-bottom: 5px solid var(--color-bg-primary);
  border-bottom-style: groove;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 12px;
}

.navlinkA {
  text-decoration: none;
  margin: 5px 0;
  font-size: 17px;
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--text-color);
}
.navLogo {
  display: none;
  height: 30px;
  margin-left: 20px;
}
.offcanvas {
  height: 100dvh;
}
.offcanvas.offcanvas-end.show a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  background-color: var(--color-bg-primary);
}

.offcanvas.offcanvas-end.show h6 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  padding: 15px;
  background-color: var(--color-bg-primary);
}
.newIcon {
  justify-content: center !important;
}
.navColor {
  color: var(--text-color);
}

.navlinkA:hover {
  color: deepskyblue;
}

.navlinkA.active {
  color: deepskyblue;
}

.themechangeBtn {
  height: 30px;
  width: 30px;
  box-shadow: var(--icon-primary-shadow-hover);
  border-radius: 50%;
  font-size: 17px;
}
.themeToggler {
  width: 100%;
}

.navToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.navbar-toggler {
  margin-left: auto;
  background-color: var(--togolarBtn) !important;
}
.navIcons {
  display: none;
}

@media only screen and (max-width: 600px) {
  .navlinkA {
    margin-bottom: 0px;
    padding: 5px;
  }
  .navIcons {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .navLogo {
    display: block;
  }
}
@media only screen and (max-width: 991px) {
  .navLogo {
    display: block;
  }
}
