.progress-bar {
    height: 10px;
    border-radius: 10px;
    /* background: #6b0c0c !important; */
    /* background: linear-gradient(90deg, rgb(29, 36, 244) 0%,rgb(155, 203, 243) 100%); */
}

.progress {
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 18px !important;
    box-shadow: var(--progressbar);
}