/* .ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 9;
} */

@font-face {
  font-family: 'jungleFont';
  src: local('jungleFont'), 
       url('/Fonts/jungleFont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

table * {
  background: transparent !important;
}
.navbar-toggler:focus {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.navbar-toggler {
  border: none !important;
}
.navbar > .navbar-toggler {
  background-color: var(--color-bg-primary) !important;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  color: var(--text-color) !important;
}
.ant-form-item .ant-form-item-label > label {
  color: var(--text-color);
}
.ant-select-selector {
  background-color: var(--color-bg-primary) !important;
  min-height: 45px !important;
  box-shadow: var(--icon-primary-shadow-hover) !important;
  border: none !important;
}
.ant-select .ant-select-selection-placeholder {
  color: var(--text-color) !important;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.04);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 10px;
}
a {
  text-decoration: none !important;
}
