.sectionHeader {
  display: flex !important;
  align-items: center;
  justify-content: space-around;
  box-shadow: var(--icon-primary-shadow);
  margin-bottom: 0;
  padding: 10px 0px;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .sectionHeader {
    padding: 5px 0px;
    font-size: 22px;
  }
}
@media only screen and (max-width: 400px) {
  .sectionHeader {
    font-size: 20px;
  }
}
