.mainNav{
    height: 100vh;
    overflow-y: auto;

}
.mainNavView{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}
.footer{
    background: var(  --color-bg-primary);
    box-shadow:  var(--header-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


@media screen {
    
}