.admin-layout {
  height: 100dvh;
}
.navbarAdmin {
  height: 100dvh;
  border-right: 5px solid grey;
}
.navImg {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
}
.adminHeader {
  background-color: var(--color-bg-primary);
  position: sticky;
  top: o;
  left: 0;
  right: 0;
  box-shadow: var(--btn-primary-shadow);
  overflow-y: auto;
  z-index: 1;
}


.layout {
  display: flex;
  height: 100dvh;
  justify-content: space-between;
  flex-direction: column;
  overflow-y: auto;
}
