.admin-layout {
  height: 100dvh;
}
.navbarAdmin {
  height: 100dvh;
  border-right: 5px solid grey;
}
.navImg {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
}
.adminHeader {
  box-shadow: var(--btn-primary-shadow);
}


.layout {
  display: flex;
  height: 100dvh;
  justify-content: space-between;
  flex-direction: column;
}
