.admin-layout {
  height: 100vh;
}
.admin-layout-right {
  border-bottom: 1px solid grey;
}
.navbarAdmin {
  height: 100vh;
  border-right: 5px solid grey;
}
.navImg {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
}
